<footer class="bg-secondary text-center text-white pb-4 mt-auto">
    <div class="container p-4 pb-0">
        <div class="mb-3">
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/acpoliveira24" target="_blank" rel="noreferrer noopener">
                <i class="fa-brands fa-github"></i> /acpoliveira24
            </a>

            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/anacarolinapdeoliveira/" target="_blank" rel="noreferrer noopener">
                <i class="fa-brands fa-linkedin"></i> Ana Carolina Pereira de Oliveira
            </a>
        </div>
    </div>
</footer>
